<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>bluemix-java-twitter-influence-analyzer</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>The servlet that executes the main business logic</description>
		<display-name>TwitterPersonality</display-name>
		<servlet-name>TwitterPersonality</servlet-name>
		<servlet-class>es.upm.oeg.examples.watson.servlets.TwitterAnalysisServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TwitterPersonality</servlet-name>
		<url-pattern>/twitter-personality/results</url-pattern>
	</servlet-mapping>
</web-app>
